<script setup lang="ts">
import { ref, provide } from 'vue'
import LoadingDialog from './components/LoadingDialog.vue'
import MessageBox from './components/MessageBox.vue'
import MainLayout from './layouts/MainLayout.vue'
import FullLayout from './layouts/FullLayout.vue'
import { useRoute } from 'vue-router'

const route = useRoute()
const rail = ref(true)
const drawer = ref(true)

provide('rail', rail)
provide('drawer', drawer)
</script>

<template>
  <!-- <MainLayout v-if="route.meta.layout === 'MainLayout'"></MainLayout>
  <FullLayout v-if="route.meta.layout === 'FullLayout'"></FullLayout> -->
  <component :is="route.meta.layout==='MainLayout'?MainLayout:FullLayout"></component>
  <LoadingDialog></LoadingDialog>
  <MessageBox></MessageBox>
</template>

<style scoped></style>
